@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-primary: "Montserrat", sans-serif;

h1 {
  font-size: 5em;
}

* {
  padding: 0em;
  margin: 2em;
  border: 2em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
